{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <img class="actor mb-3" src="{{ .Site.Params.authorThumb | absURL}}" alt="image">
          <h3>Hi, I am {{ .Site.Params.author }}</h3>
          <!--<p>{{ .Site.Data.about.description }} </p>-->
          <ul>
            {{ range .Site.Data.about.description }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
          <p></p>
          <h3>{{ .Site.Data.about.bioTitle }}</h3>
          <p>{{ .Site.Data.about.bioDescription | .RenderString }}</p>
          <p>{{ .Site.Data.about.bioQuote | .RenderString }}</p>
          <!--<ul class="soicel-icon">
            <li> <a href="https://www.facebook.com/{{ .Site.Params.facebookUsername }}"><i
                  class="fa fa-facebook"></i></a></li>
            <li> <a href="https://www.facebook.com/{{ .Site.Params.twitterUsername }}"><i class="fa fa-twitter"></i></a>
            </li>
            <li> <a href="https://www.facebook.com/{{ .Site.Params.instaUsername }}"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.facebook.com/{{ .Site.Params.linkedinUsername }}"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>-->
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}